
@import "reset.less";
@import "variables.less";

/*
h1, h2 {
  font-weight:  normal;
}
ul {
  list-style-type:  none;
  padding:  0;
}
li {
  display:  inline-block;
  margin:  0 10px;
}
a {
  color:  #42b983;
}

.isComplete { display: block; position: absolute; left: 0; width:1.5em; font-size: 1.8em }
.pending { color: #ccc; }
.epic { background-color: #f8f8f8; width: 800px; margin-left: auto; margin-right: auto; padding: 10px; position: relative;}
.epic h2 { text-align: left; margin-left: 2em;}
.epic .isComplete { left: 0.5em; top: 0.85em; }
.depends { display: block; left: 2em; text-align: left; position: relative; text-align: left; }
.note, .notes-wrapper { display: block; position: relative; text-align: left; }
.task { background-color: #fff; margin: 1em; padding: 10px; position: relative; }
.task h3 { margin-left: 3.5em; text-align: left; font-weight: normal; font-size: 1em; }
.task .isComplete { left: 0.5em; top: 0.5em;}
.task .note { left: 3.5em; }
.subtasks { border-top: 1px solid #2c3e50; margin-left: 3.5em; }
.subtask { position: relative; font-size: 0.9em; }
.subtask h4 { text-align: left; margin-left: 1.7em; font-size: 0.9em; font-weight: normal;}
.subtask .isComplete { left: -0.4em; top: -0.4em; }
*/

#app {
  font-family: @ff-helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: @cs-text;
}

.Main {
	position: relative;
	@media (min-width: @bp-xl) {
		width: 1112px;
		margin: 0 auto !important;
	}
	@media (min-width: @bp-large) {
		margin: 0 20px;
	}
}

@nav-width: 16em;

.Main > header {

	#logo-area {
		height: 101px;
		width: @nav-width;
		left: 0px;
		position: relative;
		margin: 0;
	}
	#logo {
		height: 97.2px;
		width: 60px;
		left: 0px;
		position: relative;
		margin: 10px;
		margin-left: 20px;
		background-image: url(//capnajax.com/img/logo.svg);
		background-size: 170%;
		background-position: 45%;
	}
	#logo-stripe {
		position:absolute;
		z-index: -1;
		background-color: @cs-yellow;
		height: 2px;
		width: 100%;
		top: 65px;
	}
	#project-name-area {
		position: absolute;
		top: 0;
		right: 0;
		left: @nav-width;
		margin-left: 2em;
	}
	h1 {
		position: absolute;
		font-family: @ff-adelle;
		font-weight: 100;
		color: @cs-navy;
		font-size: 60px;
		height: 1.2em;
		left: 0px;
		top: -1px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
}

.Main > nav {
	position: absolute;
	@media (min-width: @bp-large) {
		width: @nav-width;
	}

	.Projects {
		background-color: @cs-white;
		// border-radius: 1.24em 0 0 1.24em;
		// border: 0.1em solid @cs-orange;
		// border-right: none
		margin-top: 1em;
		display: block;

		.Project~.Project {
			margin-top: 1em
		}

		[data-children=incomplete] .checkbox.complete {
			color: @cs-red2;
		}
		[data-children=complete] .checkbox.incomplete {
			color: @cs-blue;
		}
		.isComplete {
			position: relative;
			left: 0;
			display: inline-block;

			.checkbox {
				position: absolute;
				text-align: left;
				font-size: 3em;
				left: -0.05em;
				top: -0.38em;
				display: block;
			}
			.checkbox.complete:before {
				content: "☑";
			}
			.checkbox.incomplete:before {
				content: "☐";
			}

			.stats {
				display: block;
				position: relative;
				top: -0.1em;
				left: 1.8em;
				font-size: 0.62em;
				span {
					display: inline-block;
					float: left;
				}
			}
			.stats.complete {
				color: @cs-blue;
			}
			.stats.complete:before { content: "☑"; }
			.stats.incomplete {
				color: @cs-red2;
				margin-left: 1em;
			}
			.stats.incomplete:before { content: "☐"; }
		}
		.name {
			font-family: @ff-adelle;
			font-size: 1em;
			display: block;
			left: 2em;
			position: relative;
			max-width: (@nav-width - 2em);
		}
	}

	ul {
	  list-style-type:  none;
	  padding:  0;
	  li {
	  	width: 100%;
	  	left: 2em;
	  	text-align: left;

	  }
	}

	// temporary
	.colors {
		display: block;
		height: 3em;
		margin-top: 2em;
		div {width: 1em; height: 1em; float: left;}
		div~div {margin-left: 1em;}
	}	
}

.Main > .content {
	position: relative;
	margin-left: @nav-width;
	right: 0;
	padding-top: 1em;
	padding-left: 2em;

	.item-details {
		position: relative;

		[data-children=incomplete] .checkbox.complete {
			color: @cs-red2;
		}
		[data-children=complete] .checkbox.incomplete {
			color: @cs-blue;
		}
		.isComplete {
			display: inline-block;
			.checkbox {
				position: absolute;
				display: block;
				left: -1.62em;
			}
			.checkbox.complete:before {
				content: "☑";
			}
			.checkbox.incomplete:before {
				content: "☐";
			}
			.stats {
				display: block;
				position: absolute;
				span {
					display: inline-block;
					float: left;
				}
			}
			.stats.complete {
				color: @cs-blue;
			}
			.stats.complete:before { content: "☑"; }
			.stats.incomplete {
				color: @cs-red2;
			}
			.stats.incomplete:before { content: "☐"; }
		}
		.name {
			display: inline-block;
			position: relative;
		}
	}

	.task-wrapper {
		> ol.tasks {
			list-style-type: none;
			padding-left: 1.62em;

			.task {

				.isComplete {

					.stats {
						position: relative;
						top: -0.3em;
						font-size: 0.38em;
						padding-right: 0.5em;
					}
				}
			}
		}

		h3 {
			position: relative;
			top: 0;
			margin: 0;
			padding: 0;
			font-size: 1em;
		}

		.subtask-wrapper {
			margin-left: 1.62em;
			> ol.subtasks {
				list-style-type: none;
				.subtask {
					h4 {
						position: relative;
						font-size: 1em;
						font-weight: normal;
					}
				}
			}
		}
	}

	.epics-wrapper {

		> ol.epics {
			list-style-type: none;
			padding-left: 1.62em;

			> li {
				border-top: 1px dashed @cs-brass;
				margin-top: 1em;
				margin-bottom: 0.38em;

				.item-details {
					top: -0.1em;
				}
				.isComplete {

					.stats {
						position: relative;
						top: -0.3em;
						font-size: 0.38em;
						padding-right: 0.5em;
					}
				}

			}
		}

		h2 {
			font-size: 1em;
			position: relative;
			margin: 0;
			padding: 0;
			.name {
				font-size: 1.2em;
			}
		}

	}

	.epic > .item-details .context-control,
	.task > .item-details .context-control,
	.subtask > .item-details .context-control { display: inline-block; }
	
	.epic > .item-details .context-control > span,
	.task > .item-details .context-control > span,
	.subtask > .item-details .context-control > span { display: inline; opacity: 0; cursor: pointer; }

	.task-wrapper .tasks ~ div .context-control > span,
	.subtask-wrapper .subtasks ~ div .context-control > span { opacity: 0; cursor: pointer; }

	.task-wrapper:hover .tasks ~ div .context-control > span,
	.subtask-wrapper:hover .subtasks ~ div .context-control > span { opacity: 1 }

	.epic > .item-details:hover .context-control > span,
	.task > .item-details:hover .context-control > span,
	.subtask > .item-details:hover .context-control > span {opacity: 1;}

	.notes-wrapper .context-control {
		position: relative;
		top: -1em;
		left: 0;
	}

	.context-control {
		font-size: 0.38em;
		top: -0.38em;
		position: relative;

		span.button {
			color: @cs-gray;
			// border: 0.5px solid @cs-gray;
			// border-radius: 0.3em;
			padding: 0 1em 0 0;
		}
	}

	// temporary
	.item-add-button {
		display: none;
	}

	.note {
		color: @cs-gray;
		font-size: 0.8em;

		.bullet:before {			
			content: "▸";
		}
		.bullet {
			position: absolute;
		}
		.note-text {
			display: block;
			margin-left: 1em;
		}
	}
	.note:first-child {
		margin-top: -0.5em;
	}
}




